/* Stylesheet by Lily C. Newell, 2018*/
body {
    padding: 0;
    margin: 0;
}

#mapid {
    height: 80%;
    width: 88%;
    margin: 0px auto;
    position: center;
    padding: 5px;
    border: 1px solid blue;
    display: inline-block;
}

#outerdiv {
    background: rgba(0,0,0,.9);
    height: 100%;
    width: 95%;
    padding: 20px;
    position: absolute;
    text-align: center;
    width: 100%;
}

header.global{
    padding: 1px;
}

header {
    font-family: 'cabinregular', sans-serif;
    background-color: #e5f5e0;
    font-size: 50%;
    text-align: center;
}


 .range-slider {
     flex-basis: 30%;
     order: 2;
 }

 .next {
     order: 3;
     flex-basis: 20%;
     font-family: 'cabinregular', sans-serif;
 }

 .previous {
     order: 1;
     flex-basis: 20%;
     font-family: 'cabinregular', sans-serif;
 }

.instruction-wrapper{
    flex-direction: column;
    justify-content: space-evenly;
    align-content: left;
    font-family: 'cabinregular', sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.sequence-control-container{
    width: 350px;
    height: 30px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 2.5px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}

.label-wrapper{
    order: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 30%;
}

.month-label{
    font-size: 16px;
    font-family: 'cabinregular', sans-serif;
}


.leaflet-popup-content p {
    font-family: 'cabinregular', sans-serif;
    font-size: 12px;
}

.legend-control-container{
    width: 150px;
    height: 125px;
    font-family: 'cabinregular', sans-serif;
    font-weight: bold;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    text-align: left;
    border: solid gray 2.5px;
}

#temporal-legend{
    text-align: center;
}

.menu-ui {
    background:#fff;
    position:absolute;
    top:10px;right:10px;
    z-index:1;
    border-radius:3px;
    width:120px;
    border:1px solid rgba(0,0,0,0.4);
}
.menu-ui a {
    font-size:13px;
    color:#404040;
    display:block;
    margin:0;padding:0;
    padding:10px;
    text-decoration:none;
    border-bottom:1px solid rgba(0,0,0,0.25);
    text-align:center;
}
.menu-ui a:first-child {
    border-radius:3px 3px 0 0;
}
.menu-ui a:last-child {
    border:none;
    border-radius:0 0 3px 3px;
}
.menu-ui a:hover {
    background:#f8f8f8;
    color:#404040;
}
.menu-ui a.active,.menu-ui a.active:hover {
    background:#3887BE;
    color:#FFF;
}